body {
    background-color: #283329;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #759679;
    text-align: center;
}

main {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameContainer {
    background-color: #3A4A3C;
    padding: 3rem;
    max-width: 40rem;
    border-radius: 1rem;
}

#taskTitle {
    color: #A7D6AD;
}

#taskDescription {
    color: #FFFFFF;
}

#inputForm {
    display: flex;
    flex-direction: column;
}

/* Användarens input */

#textInputField {
    background-color: #FFFFFF;
    width: 10rem;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 1000rem;
    border: none;
}

/* Grön knapp som visas när användaren öppnar sidan */

.greenButton{
    background-color: #A7D6AD;
    width: 10rem;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 1000rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

/* Knapp som skapas när användaren får GAME OVER */

.redButton {
    background-color: firebrick;
    color: white;
    width: 10rem;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 1000rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

#answer2_1, 
#answer2_2, 
#answer3_1, 
#answer3_2, 
#startOver {
    display: none;
}

#manWithHat {
    width: 15rem;
    height: auto;
    display: none;
}

#lion {
    width: 25rem;
    height: auto;
    display: none;
}